@import "bootstrap-sprockets";
@import "bootstrap";

$light-grey: #777;
$dark-grey: #555;
$v-dark-grey: #222;
$red: #d61313;


// Basic setup
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

// Begin general styles

body {
  padding-top: 140px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-grey;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.container {
  position: relative;
}

.center {
  text-align: center;
  
  h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }
}

#railslogo{
  float:left;
  padding: 5px 10px 5px 0;
}

#logo{
  float: left;
  margin-right: 10px;
  margin-top: 76px;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-top: 10px;
  font-weight: bold;
  text-decoration: none;
  &:hover{
    color: $red;
  }
}

header nav{
  margin-top: 76px;
}

.navbar-inverse .navbar-nav > li > a {
  color: $light-grey;
  
  &:hover{
    color: $red;
  }
  
}

/* Giant absolutely positioned ruby for funsies */

.railsruby {
  position: absolute;
  left: 80%;
  top: 40%;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 10px;
  border-top: 1px solid #eaeaea;
  color: $light-grey;
  
  a{
    color: $dark-grey;
    
    &:hover{
      color: $v-dark-grey;
    }
    
  }
  
  small{
    float: left;
  }
  
  ul{
    float: right;
    list-style: none;
    li{
      float: left;
      margin-left: 15px;
    }
  }
  
}

.debug-dump {
  margin-top: 45px;
}

// User show page
// sidebar

aside {
  section.user-info {
    margin-top: 20px;
  }

  section{
    padding: 10px 0;
    margin-top: 20px;
    
    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }

    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    } // end h1
  } // end section

} // end aside

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

// forms

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.new-user-text {
  margin-top: 20px;
  text-align: center;
}